{% extends 'base.html' %} {% block content %}
<div class="w3-display-container">
  <img
    src="https://picsum.photos/1600/500"
    style="width: 100%; height: 400px"
  />
  <div class="w3-display-middle w3-large">
    <h1 class="w3-jumbo w3-text-white w3-wide"><b>{{ title }}</b></h1>
  </div>
</div>
<div class="w3-container">
  <div class="w3-content" style="max-width: 90%">
    <h3 class="w3-center">Lorem ipsum dolor sit amet</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat
      voluptas nisi deleniti aliquid ut doloribus, veritatis ipsa, eum iure quo,
      eveniet fuga? Eos quo laudantium adipisci consectetur neque ea temporibus
      earum ullam amet autem aperiam sequi, porro, tempore assumenda mollitia
      nam, fugiat hic. Laudantium dolorem facilis dolores numquam nesciunt
      accusantium perspiciatis asperiores dolorum dolor reprehenderit, minima
      quibusdam corporis neque sunt placeat! Velit, aut eaque quam
      exercitationem consectetur laudantium dolorem officia quos officiis
      maxime, ducimus sunt, dicta aspernatur. Iure aliquam fuga deleniti, cumque
      distinctio dolor explicabo, itaque necessitatibus et cum provident ea.
      Quisquam omnis ipsum similique non? Minima quos consequatur ad.
    </p>
  </div>
</div>
{% endblock content %}
