{% extends 'base.html' %}
{% block content %}
    <div class="w3-display-container">
    <img src="https://picsum.photos/1600/500"  style="width:100%; height:400px">
    <div class="w3-display-middle w3-large">
      <h1 class="w3-jumbo w3-text-white w3-wide"><b>{{ title }}</b></h1>
    </div>
    </div>
    <div class="w3-container">
      <div class="w3-content" style="max-width:90%">
        <h3 class="w3-center">'m baby keffiyeh jianbing roof party same schlitz</h3>
  <p>Bespoke solarpunk succulents, plaid aesthetic organic taxidermy cornhole narwhal. Messenger bag pitchfork literally pickled bespoke taiyaki. Fingerstache stumptown small batch vexillologist bushwick banjo. Waistcoat small batch sriracha, hexagon lo-fi PBR&B affogato polaroid cred subway tile venmo fingerstache fanny pack. Art party gatekeep migas, tonx tousled crucifix man bun post-ironic quinoa jawn hell of edison bulb gorpcore photo booth bruh. JOMO taiyaki narwhal tonx vinyl waistcoat selvage. Occupy ugh heirloom chia gastropub disrupt, cliche glossier four dollar toast leggings gluten-free humblebrag cronut.</p>
    <p>Kombucha church-key cold-pressed jean shorts. Tumblr scenester church-key, neutral milk hotel hoodie air plant gatekeep everyday carry direct trade kombucha copper mug bushwick organic la croix af. Cornhole enamel pin asymmetrical irony, pug fam bruh. DIY organic farm-to-table pug lyft, selvage vinyl lo-fi 3 wolf moon tote bag bodega boys cornhole la croix shoreditch Brooklyn.</p>
</div>
</div>
{% endblock content %}