{% extends 'base.html' %}
{% block content %}
    <div class="w3-display-container">
    <img src="https://picsum.photos/1600/500"  style="width:100%; height:400px">
    <div class="w3-display-middle w3-large">
      <h1 class="w3-jumbo w3-text-white w3-wide"><b>{{ title }}</b></h1>
    </div>
    </div>
    <div class="w3-container">
      <div class="w3-content" style="max-width:90%">
        <h3 class="w3-center">Yar Pirate Ipsum</h3>
  <p>Lateen sail cog mizzenmast Jack Tar pirate spanker Gold Road nipperkin coffer pinnace. Landlubber or just lubber quarterdeck black jack careen to go on account reef American Main barque keel nipper. Shrouds handsomely gun Pirate Round heave to spirits chase draft gaff killick.</p>
    <p>Jolly Roger measured fer yer chains cutlass yard broadside Admiral of the Black matey skysail hornswaggle grapple. Booty crimp gangplank red ensign Sail ho interloper measured fer yer chains cutlass lugger skysail. Ho sheet jury mast swab chandler Corsair Jolly Roger Spanish Main gibbet run a rig.</p>
    <p>American Main bilged on her anchor sutler broadside measured fer yer chains tack chase guns overhaul fluke killick. Warp ye square-rigged hogshead poop deck tackle loaded to the gunwalls dance the hempen jig capstan wench. Hardtack run a rig crow's nest quarterdeck scurvy Blimey coxswain Nelsons folly careen scourge of the seven seas.</p>
</div>
</div>
{% endblock content %}