{% extends "base.html" %}
{% block content %} 
    {% if feedback %}
    <ul>
        {% for item in feedback %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <div>
      <a href="/register">CLEAR</a>
    </div>
    {% else %}
    <h2>A Python/Flask Postback Form</h2>
    <p>The following is a demonstration of a form that can be filled out and when data is entered, the data is submitted back to the same page so the data can be seen on the page.</p>
    <p>Any form fields that have names with an underscore between significant words, such as <b>First_Name</b> 
        will be split into separate words, for example <b>First Name</b> upon submission.</p>  
    <form method="POST" action="" class="main-form">
      <div>
        <label for="FirstName">First Name</label><br>
        <input type="text" name="First_Name" id="FirstName" placeholder="First Name" required autofocus>
      </div>
      <div>
        <label for="LastName">Last Name</label><br>
        <input type="text" name="Last_Name" id="LastName" placeholder="Last Name" required>
      </div>
      <div>
        <label for="Email">Email</label><br>
        <input type="email" name="Email" id="Email" placeholder="Email" required>
      </div>
      <div>
        <label for="Phone">Phone</label><br>
        <input type="tel" id="Phone" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" required>
      </div>
      <div>
        <label for="Address">Address</label><br>
        <input type="text" name="Address" id="Address" placeholder="Address" required>
      </div>
      <div>
        <label for="City">City</label><br>
        <input type="text" name="City" id="City" placeholder="City" required>
      </div>
        <label for="State">State</label>
        <select name="State" id="State" required>
          <option value="">Select a State</option>
          <option value="OR">OR</option>
          <option value="WA">WA</option>
          <option value="CA">CA</option>
          <option value="WY">WY</option>
        </select>
      </div>
      <div>
        <fieldset>
          <legend>Would you like to join our mailing list?</legend>
          <label for="">
            <input type="radio" name="Mailing_List" value="yes" required>Yes<br>
            <input type="radio" name="Mailing_List" value="no">No<br>
          </label>
        </fieldset>
      </div>
      <div>
        <fieldset>
          <legend>Interested in...</legend>
          <label for="">
            <input type="checkbox" name="Interested_In[]" value="website" > website?<br>
            <input type="checkbox" name="Interested_In[]" value="mailing" > mailing list?<br>
            <input type="checkbox" name="Interested_In[]" value="products" > new products?<br>
          </label>
        </fieldset>
      </div>
      <div>
        <label for="Note">Note</label>
        <textarea name="Note" id="Note" cols="30" rows="10"></textarea>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
  {% endif %}
{% endblock %}
